<div class="container-fluid" ng-controller="CartCtrl" >
    <div id="cart-body" class="row">
       <div class="col-xs-10 col-xs-offset-1">
           <div class="col-xs-12 text-center row sale-banner">
               <img src="../images/sale-banner.jpg" class="" alt="">
           </div>
           <div class="title col-xs-12 row">
               <span class="italic">Shopping</span>
               <span class="caps">Bag</span>
               <br><br>
           </div>
           <div ng-show="cartEmpty" class="col-xs-12">
               <p>Your cart is empty.</p>
           </div>
           <div class="col-xs-12" ng-repeat="product in bag">
               <div class="row">
                   <div class="product-img col-xs-1">
                       <img class="more-images" ng-src="{{product.image}}" alt="">
                   </div>
                   <div class="col-xs-4">
                       <p>{{product.productName}}</p>
                       <p>$ {{product.price}}</p>
                   </div>
                   <div class="col-xs-3">
                       <button class="btn btn-secondary" ng-click="removeFromCart(product);">Remove</button>
                   </div>
               </div>
           </div> 
       </div>
    </div>
</div>

