<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Lacey Announces New Jewelry at MAGIC Las Vegas</h1>
            <p>LAS VEGAS, Jan. 5, 2016 /PRNewswire/ -- In the year since its launch, Lacy (www.mymirafit.com) has become the fashion world's preferred line of smart jewelry. Seen on Vogue.com, NY Mag's The Cut, Refinery29 and Cosmopolitan.com, Lacy has developed a reputation for high style, empowering technology, and a contagious sense of fun. Lacy is helping women live healthier, happier lives.  At CES 2016, Lacy will be announcing two innovative designs inspired by the modern-minimalist trend dominating the fashion world, the Lacy Vivid Wellness Bracelet and the Lacy Vivid Wellness Pendant.

                Slated to launch in 2016, the new bracelet allows for the utmost discretion. Hidden in the sleek, ribbon-inspired design, is the opal, Lacy's proprietary tracker which measures steps, calories, distance and elevation. The newest addition to Lacy's line of smart jewelry melds style, function and covert design and is the perfect option for the woman who wants to keep her tracking habit private. The setting will be available in two bold finishes - Rosé All Day and Heart of Gold.

                Lacy will also expand their collection by adding a smart pendant. Simple and sleek, the addition of a necklace will give style mavens the option to change up their look and track to their heart's content. All Lacy accessories will pair with the enhanced mobile app, which gives women an easy and personal way to monitor activities, find healthy inspiration and unlock their wellness data. New for 2016, Lacy's App provides additional goal-setting features to help women track what matters most to them.

                This year at CES, Lacy has created a living brand experience that transports visitors into a Woman's World. Their booth (Sands, Halls A-C – # 74528) will bring to life the environments that the Lacy woman finds herself in everyday; her workspace and home as well as an interactive display where attendees can try the mobile app and peruse the available styles in a setting that is the perfect backdrop for media buzz.  

                Lacy is redefining the wearables category by taking design cues from the fine jewelry world, adding innovative tech and moving away from the sea of black, rubber sameness that has permeated the market. Their current collection features the Lacy bracelet ($169), available in five finishes (Heart of Gold, Hot Chocolate, Rosé All Day, Jetsetter and Polished Rosé All Day) and pairs with the custom mobile app for both iOS and Android.

                Sands, Halls A-C -Booth # 74528   
                http://ces.vporoom.com/LacyFitness

                About Lacy:
                Lacy is a Chicago-based company led by CEO Rob DeMento, Director of Engineering Deborah Brown and Director of Channel Strategy Lindsay Slutzky. Designed by women, for women, Lacy takes its aesthetic inspiration from the fashion world and understands you don't have to sacrifice style in order to be healthy. Dedicated to revolutionizing women's wellness, Lacy empowers women with beautiful products that support her, no matter what her age or lifestyle.</p>
        </div>
    </div>
</div>