<div class="container-fluid" ng-controller="SingleProductCtrl">
  
  <div id="shop-banner" class="col-xs-12 text-center">
    <img src="../images/shop-banner.jpg">
  </div>
 
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div>
          <img class="product-thumbnail" ng-src="{{product.images[0]}}">
        </div>
      </div>

      <div class="col-sm-7 product-details">
            <span class="black-caps">{{product.productName}}</span><br>
            <span class="copy">$ {{product.unitPrice}} USD</span><br>
            <span class="copy">{{product.description}}</span><br>
            <span class="copy">{{product.materials}}</span><br>
            <span class="copy">{{product.measurements}}</span><br>
            <div>
              <button id="addCartBtn" ng-click="addCart(product);" class="addbtn">Add To Bag</button>
            </div>
            <div>
              <a href="#"><img src="../images/social-icons/facebook2.svg" class="social-icon" alt=""></a>
              <a href="#"><img src="../images/social-icons/twitter.svg" class="social-icon" alt=""></a>
              <a href="#"><img src="../images/social-icons/pinterest.svg" class="social-icon" alt=""></a>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <p class="caps">More Views</p>
        <div class="col-xs-3" ng-repeat="image in images">
          <img src="{{image}}" class="more-images" alt="">
        </div>
      </div>
      <div class="row">
      
        
      </div>
  </div>
</div>   
